
h1 {
    letter-spacing: 8px;
}
h5 {
    letter-spacing: 3px;
}
.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px;
    }
}

.body{
    background-size: cover;
    background-repeat: no-repeat; 
}

.pizza {
    align-items: center;
  }
